{:deps {com.cognitect/transit-clj {:mvn/version "1.0.324"}
        com.taoensso/timbre       {:mvn/version "4.10.0"}
        org.clojure/clojure       {:mvn/version "1.10.1"}
        org.clojure/core.async    {:mvn/version "0.6.532"}}}
